In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import svm

In [5]:
train_dataset=pd.read_csv('development_dataset.csv')
test_dataset=pd.read_csv('leaderboard_dataset.csv')

In [6]:
print(train_dataset.shape)
print(test_dataset.shape)

(34000, 21)
(10000, 20)

In [7]:
train_dataset.head()

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,...,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20,VAR21
0,1,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,NaN,58.632548,...,100.083403,1.0,1,1.0,1.540594,NaN,1,0,100.104991,Low
1,2,911.764706,0.027778,NaN,611.574748,8.181818,1.344479,198.600020,22.086661,NaN,...,15.012510,NaN,1,NaN,1.614613,NaN,0,1,146.654045,High
2,3,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,NaN,58.632548,...,210.175146,10.0,1,10.0,1.044599,NaN,0,0,98.249570,Medium
3,4,892.941177,NaN,NaN,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,...,NaN,NaN,1,NaN,1.145729,NaN,1,0,140.862306,Low
4,5,914.117647,0.083333,NaN,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,...,210.175146,NaN,.,NaN,1.558341,NaN,1,0,101.268503,High

In [8]:
data=pd.concat([train_dataset,test_dataset])

/home/kaaira/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [31]:
train_dataset.loc[:,'VAR14'][train_dataset.loc[:,'VAR14'].isin(['.'])]=np.NaN
train_dataset['VAR14']=train_dataset['VAR14'].apply(pd.to_numeric)

/home/kaaira/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
test_dataset.loc[:,'VAR14'][test_dataset.loc[:,'VAR14'].isin(['.'])]=np.NaN
test_dataset['VAR14']=test_dataset['VAR14'].apply(pd.to_numeric)

/home/kaaira/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
mean_data = {
    'VAR10': 56.497319916561565,
    'VAR11': 5.4290617632523634,
    'VAR12': 117.28366711019322,
    'VAR13': 11.67958939730443,
    'VAR15': 12.453257109061381,
    'VAR16': 2.092006359280712,
    'VAR17': 821.281091817721,
    'VAR18': 0.40002941176470586,
    'VAR19': 0.29805882352941176,
    'VAR2': 917.3916031483315,
    'VAR20': 161.35594998478794,
    'VAR3': 1.1195956999950352,
    'VAR4': 248.07620132529897,
    'VAR5': 631.5713914682914,
    'VAR6': 15.290028445341045,
    'VAR7': 2.0552948772701423,
    'VAR8': 200.00716889702667,
    'VAR9': 53.988554410139486,
}

In [34]:
train_dataset.info()
test_dataset.info()
train_dataset.isnull().count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34000 entries, 0 to 33999
Data columns (total 21 columns):
VAR1     34000 non-null int64
VAR2     33039 non-null float64
VAR3     30615 non-null float64
VAR4     21506 non-null float64
VAR5     33999 non-null float64
VAR6     30505 non-null float64
VAR7     33165 non-null float64
VAR8     33165 non-null float64
VAR9     18183 non-null float64
VAR10    29450 non-null float64
VAR11    26435 non-null float64
VAR12    23498 non-null float64
VAR13    25478 non-null float64
VAR14    34000 non-null int64
VAR15    25976 non-null float64
VAR16    33134 non-null float64
VAR17    11806 non-null float64
VAR18    34000 non-null int64
VAR19    34000 non-null int64
VAR20    34000 non-null float64
VAR21    34000 non-null object
dtypes: float64(16), int64(4), object(1)
memory usage: 5.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
VAR1     10000 non-null int64
VAR2     9733 non-null float64
VAR3     9063 non-null float64
VAR4     6314 non-null float64
VAR5     10000 non-null float64
VAR6     8942 non-null float64
VAR7     9785 non-null float64
VAR8     9785 non-null float64
VAR9     5299 non-null float64
VAR10    8652 non-null float64
VAR11    7769 non-null float64
VAR12    6799 non-null float64
VAR13    7507 non-null float64
VAR14    10000 non-null int64
VAR15    7641 non-null float64
VAR16    9771 non-null float64
VAR17    3457 non-null float64
VAR18    10000 non-null int64
VAR19    10000 non-null int64
VAR20    10000 non-null float64
dtypes: float64(16), int64(4)
memory usage: 1.5 MB

VAR1     34000
VAR2     34000
VAR3     34000
VAR4     34000
VAR5     34000
VAR6     34000
VAR7     34000
VAR8     34000
VAR9     34000
VAR10    34000
VAR11    34000
VAR12    34000
VAR13    34000
VAR14    34000
VAR15    34000
VAR16    34000
VAR17    34000
VAR18    34000
VAR19    34000
VAR20    34000
VAR21    34000
dtype: int64

In [35]:
y=train_dataset.iloc[:,20]
print(y)

0           Low
1          High
2        Medium
3           Low
4          High
5           Low
6           Low
7        Medium
8           Low
9        Medium
10          Low
11          Low
12          Low
13         High
14       Medium
15         High
16          Low
17          Low
18          Low
19          Low
20       Medium
21          Low
22       Medium
23       Medium
24       Medium
25       Medium
26          Low
27          Low
28          Low
29          Low
          ...
33970       Low
33971    Medium
33972    Medium
33973    Medium
33974       Low
33975    Medium
33976       Low
33977       Low
33978    Medium
33979    Medium
33980    Medium
33981       Low
33982    Medium
33983       Low
33984      High
33985    Medium
33986      High
33987    Medium
33988    Medium
33989       Low
33990    Medium
33991    Medium
33992    Medium
33993       Low
33994    Medium
33995       Low
33996    Medium
33997       Low
33998       Low
33999      High
Name: VAR21, Length: 34000, dtype: object

In [36]:
X=train_dataset.drop(data.columns[0],axis=1)
X=train_dataset.drop(['VAR21'],axis=1)
y=train_dataset['VAR21']

X_leaderboard=test_dataset

In [37]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

In [38]:
print(X_train.shape)
print(X_test.shape)
print(X_leaderboard.isnull())

(23800, 20)
(10200, 20)
       VAR1   VAR2   VAR3   VAR4   VAR5   VAR6   VAR7   VAR8   VAR9  VAR10  \
0     False  False  False  False  False  False  False  False   True  False
1     False  False  False  False  False  False  False  False  False  False
2     False  False  False   True  False  False  False  False  False   True
3     False  False  False  False  False  False  False  False   True  False
4     False  False  False   True  False   True  False  False  False  False
5     False  False  False  False  False  False  False  False  False   True
6     False  False  False  False  False  False  False  False  False  False
7     False  False  False  False  False  False  False  False  False  False
8     False  False  False   True  False  False  False  False  False  False
9     False  False   True   True  False  False  False  False  False  False
10    False  False  False  False  False  False  False  False  False  False
11    False  False  False  False  False  False  False  False   True  False
12    False  False  False  False  False  False  False  False  False   True
13    False  False  False   True  False  False  False  False  False  False
14    False  False  False  False  False  False  False  False   True  False
15    False  False  False  False  False  False  False  False   True  False
16    False  False   True   True  False   True  False  False  False   True
17    False  False  False  False  False  False  False  False   True  False
18    False  False  False  False  False  False  False  False   True  False
19    False  False  False  False  False  False  False  False  False  False
20    False  False  False   True  False   True  False  False   True  False
21    False  False   True   True  False  False  False  False  False  False
22    False  False  False  False  False  False  False  False  False   True
23    False  False  False  False  False  False  False  False  False  False
24    False  False  False   True  False  False  False  False   True  False
25    False  False  False   True  False  False  False  False  False   True
26    False  False  False   True  False   True  False  False  False   True
27    False  False  False   True  False  False  False  False  False   True
28    False  False  False  False  False  False  False  False   True  False
29    False  False  False  False  False  False  False  False   True  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9970  False  False  False  False  False  False  False  False   True  False
9971  False  False  False  False  False  False  False  False  False  False
9972  False  False  False   True  False  False  False  False   True  False
9973  False  False  False  False  False  False  False  False   True  False
9974  False  False  False  False  False  False  False  False  False  False
9975  False  False  False  False  False  False  False  False  False   True
9976  False  False  False  False  False   True  False  False   True  False
9977  False  False  False  False  False  False  False  False   True  False
9978  False  False  False   True  False  False  False  False  False  False
9979  False  False   True   True  False   True  False  False   True  False
9980  False  False  False  False  False  False  False  False  False  False
9981  False  False  False  False  False  False  False  False  False   True
9982  False  False  False  False  False  False  False  False  False   True
9983  False  False  False  False  False  False  False  False   True  False
9984  False  False  False   True  False  False  False  False   True  False
9985  False  False  False  False  False  False  False  False  False  False
9986  False  False  False  False  False  False  False  False  False  False
9987  False  False  False  False  False  False  False  False   True  False
9988  False  False  False  False  False  False  False  False  False  False
9989  False  False  False  False  False   True  False  False  False  False
9990  False  False  False  False  False  False  False  False  False   True
9991  False  False  False  False  False   True  False  False   True   True
9992  False  False  False   True  False  False  False  False   True  False
9993  False  False  False  False  False  False  False  False  False  False
9994  False  False  False   True  False   True  False  False   True  False
9995  False  False  False   True  False  False  False  False  False  False
9996  False  False  False  False  False  False  False  False  False  False
9997  False  False   True   True  False  False  False  False   True  False
9998  False  False  False   True  False  False  False  False  False  False
9999  False  False   True   True  False  False  False  False   True  False

      VAR11  VAR12  VAR13  VAR14  VAR15  VAR16  VAR17  VAR18  VAR19  VAR20
0     False  False  False  False  False  False  False  False  False  False
1     False   True  False  False  False  False  False  False  False  False
2     False   True  False  False  False  False   True  False  False  False
3      True   True   True  False   True  False   True  False  False  False
4     False   True  False  False  False  False   True  False  False  False
5     False  False  False  False  False  False  False  False  False  False
6     False  False  False  False  False  False   True  False  False  False
7     False  False  False  False  False  False  False  False  False  False
8     False   True  False  False  False  False   True  False  False  False
9      True  False   True  False   True  False   True  False  False  False
10    False  False  False  False  False  False  False  False  False  False
11    False  False  False  False  False  False  False  False  False  False
12    False   True  False  False  False  False   True  False  False  False
13    False   True  False  False  False  False   True  False  False  False
14    False   True  False  False  False  False  False  False  False  False
15    False  False  False  False  False  False  False  False  False  False
16     True   True   True  False   True  False   True  False  False  False
17    False   True  False  False  False  False   True  False  False  False
18    False  False  False  False  False  False   True  False  False  False
19    False   True  False  False  False  False  False  False  False  False
20    False   True  False  False  False  False   True  False  False  False
21     True   True   True  False   True  False   True  False  False  False
22    False  False  False  False  False  False  False  False  False  False
23    False  False  False  False  False  False  False  False  False  False
24    False   True  False  False  False  False  False  False  False  False
25     True   True   True  False   True  False   True  False  False  False
26     True   True   True  False   True  False   True  False  False  False
27    False  False  False  False  False  False   True  False  False  False
28    False  False  False  False  False  False   True  False  False  False
29    False   True  False  False  False  False  False  False  False  False
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9970  False  False  False  False  False  False  False  False  False  False
9971   True  False   True  False   True  False   True  False  False  False
9972  False  False  False  False  False  False   True  False  False  False
9973  False   True  False  False  False  False   True  False  False  False
9974  False  False  False  False  False  False  False  False  False  False
9975  False  False  False  False  False  False  False  False  False  False
9976  False   True  False  False  False  False  False  False  False  False
9977  False   True  False  False  False  False  False  False  False  False
9978  False   True  False  False  False  False   True  False  False  False
9979   True   True   True  False   True  False   True  False  False  False
9980  False  False  False  False  False  False   True  False  False  False
9981  False  False  False  False  False  False  False  False  False  False
9982   True  False   True  False   True  False   True  False  False  False
9983   True  False   True  False   True  False   True  False  False  False
9984  False  False  False  False  False  False   True  False  False  False
9985  False   True  False  False  False  False  False  False  False  False
9986  False   True  False  False  False  False   True  False  False  False
9987  False   True  False  False  False  False  False  False  False  False
9988  False  False  False  False  False  False  False  False  False  False
9989   True  False   True  False   True  False   True  False  False  False
9990   True  False   True  False   True  False   True  False  False  False
9991  False  False  False  False  False  False   True  False  False  False
9992  False  False  False  False  False  False   True  False  False  False
9993  False  False  False  False  False  False   True  False  False  False
9994  False  False  False  False  False  False  False  False  False  False
9995  False  False  False  False  False  False   True  False  False  False
9996  False  False  False  False  False  False  False  False  False  False
9997   True  False   True  False   True  False   True  False  False  False
9998  False  False  False  False  False  False   True  False  False  False
9999  False  False  False  False  False  False  False  False  False  False

[10000 rows x 20 columns]

In [39]:
y_hot=pd.get_dummies(y)
y_hot
y_train_hot=np.asarray(pd.get_dummies(y_train))
y_test_hot=np.asarray(pd.get_dummies(y_test))
y_train_hot[0]

array([0, 1, 0], dtype=uint8)

In [24]:
!pip install xgboost

Collecting xgboost
  Downloading https://files.pythonhosted.org/packages/c1/24/5fe7237b2eca13ee0cfb100bec8c23f4e69ce9df852a64b0493d49dae4e0/xgboost-0.90-py2.py3-none-manylinux1_x86_64.whl (142.8MB)
     |████████████████████████████████| 142.8MB 455kB/s eta 0:00:01    |███████▋                        | 34.2MB 460kB/s eta 0:03:56     |████████▍                       | 37.2MB 470kB/s eta 0:03:45     |████████████▉                   | 57.2MB 452kB/s eta 0:03:10     |██████████████████▉             | 84.2MB 455kB/s eta 0:02:09     |████████████████████▌           | 91.5MB 443kB/s eta 0:01:56     |█████████████████████████▏      | 112.1MB 469kB/s eta 0:01:06     |███████████████████████████     | 120.0MB 477kB/s eta 0:00:48
Requirement already satisfied: scipy in /home/kaaira/anaconda3/lib/python3.7/site-packages (from xgboost) (1.3.0)
Requirement already satisfied: numpy in /home/kaaira/anaconda3/lib/python3.7/site-packages (from xgboost) (1.16.4)
Installing collected packages: xgboost
Successfully installed xgboost-0.90

In [25]:
import xgboost
from xgboost import XGBClassifier
print(X.shape)
print(X_leaderboard.shape)

(34000, 20)
(10000, 20)

In [40]:
xgb=XGBClassifier(n_estimators=1000,seed=100)
xgb.fit(X,y)
y_xgb=xgb.predict(X_leaderboard)

In [41]:
pd.DataFrame(y_xgb).to_csv("Submission_XGB2.csv")

In [ ]:
ax=xgboost.plot_importance(xgb)
fig=ax.figure
fig.set_size_inches(15,15)

In [102]:
print(X.head())

   VAR1        VAR2      VAR3        VAR4        VAR5      VAR6      VAR7  \
0     1  828.235294  0.138889  321.428571  625.911006  1.818182  1.081550
1     2  911.764706  0.027778  248.076201  611.574748  8.181818  1.344479
2     3  962.352941  0.833333   35.714286  615.825381  8.181818  0.720796
3     4  892.941177  1.119596  248.076201  638.076431  9.090909  0.820218
4     5  914.117647  0.083333  248.076201  626.514988  5.181818  1.372928

         VAR8       VAR9      VAR10     VAR11       VAR12      VAR13  VAR14  \
0  198.113469  53.988554  58.632548  0.279273  100.083403   1.000000      1
1  198.600020  22.086661  56.497320  5.429062   15.012510  11.679589      1
2  197.267767  53.988554  58.632548  0.453212  210.175146  10.000000      1
3  197.355744   4.363431  58.632548  5.429062  117.283667  11.679589      1
4  198.790477  85.938202  58.632548  5.429062  210.175146  11.679589      0

       VAR15     VAR16       VAR17  VAR18  VAR19       VAR20
0   1.000000  1.540594  821.281092      1      0  100.104991
1  12.453257  1.614613  821.281092      0      1  146.654045
2  10.000000  1.044599  821.281092      0      0   98.249570
3  12.453257  1.145729  821.281092      1      0  140.862306
4  12.453257  1.558341  821.281092      1      0  101.268503