In [30]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import metrics

In [31]:
train_dataset=pd.read_csv('development_dataset.csv')
test_dataset=pd.read_csv('leaderboard_dataset.csv')

In [32]:
train_dataset.loc[:,'VAR14'][train_dataset.loc[:,'VAR14'].isin(['.'])] = np.NaN
train_dataset['VAR14'] = train_dataset['VAR14'].apply(pd.to_numeric)
test_dataset.loc[:,'VAR14'][test_dataset.loc[:,'VAR14'].isin(['.'])] = np.NaN
test_dataset['VAR14'] = test_dataset['VAR14'].apply(pd.to_numeric)
test_dataset.head()

/home/kaaira/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/kaaira/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR14,VAR15,VAR16,VAR17,VAR18,VAR19,VAR20
0,1,878.823529,0.833333,821.428571,620.835806,5.181818,0.833974,197.500187,NaN,58.632548,9.433609,40.033361,10.000000,2.0,10.000000,1.212784,1000.00,1,0,48.099828
1,2,891.764706,0.138889,357.142857,614.092215,3.909091,0.595187,197.016843,253.896073,58.632548,10.144612,NaN,5.666667,1.0,7.600000,1.004907,992.55,0,0,104.018933
2,3,955.294118,0.055556,NaN,611.574748,6.363636,0.918652,197.660051,22.086661,NaN,0.583494,NaN,6.000000,1.0,6.000000,1.157115,NaN,1,1,120.586919
3,4,831.764706,0.111111,250.000000,617.740617,6.545455,2.383924,200.526288,NaN,48.539365,NaN,NaN,NaN,3.0,NaN,2.350858,NaN,0,1,168.592083
4,5,957.647059,0.166667,NaN,623.426802,NaN,0.711240,197.151458,5.013668,49.379748,0.255712,NaN,13.333333,1.0,13.333333,1.171551,NaN,0,1,109.204819

In [33]:

train_dataset_1=train_dataset.drop(['VAR17','VAR1','VAR21'], axis=1)
test_dataset_1=test_dataset.drop(['VAR17','VAR1'], axis=1)
train_dataset_1=train_dataset_1.fillna(train_dataset.mean())
test_dataset_1=test_dataset_1.fillna(test_dataset.mean())
train_dataset_1.head()

,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR14,VAR15,VAR16,VAR18,VAR19,VAR20
0,828.235294,0.138889,321.428571,625.911006,1.818182,1.081550,198.113469,53.988554,58.632548,0.279273,100.083403,1.000000,1.000000,1.000000,1.540594,1,0,100.104991
1,911.764706,0.027778,248.076201,611.574748,8.181818,1.344479,198.600020,22.086661,56.497320,5.429062,15.012510,11.679589,1.000000,12.453257,1.614613,0,1,146.654045
2,962.352941,0.833333,35.714286,615.825381,8.181818,0.720796,197.267767,53.988554,58.632548,0.453212,210.175146,10.000000,1.000000,10.000000,1.044599,0,0,98.249570
3,892.941177,1.119596,248.076201,638.076431,9.090909,0.820218,197.355744,4.363431,58.632548,5.429062,117.283667,11.679589,1.000000,12.453257,1.145729,1,0,140.862306
4,914.117647,0.083333,248.076201,626.514988,5.181818,1.372928,198.790477,85.938202,58.632548,5.429062,210.175146,11.679589,1.536425,12.453257,1.558341,1,0,101.268503

In [34]:
normalized_train=(train_dataset_1-train_dataset_1.mean())/train_dataset_1.std()
normalized_test=(test_dataset_1-test_dataset_1.mean())/test_dataset_1.std()
normalized_train.to_csv('normalized_train.csv', index=False)
normalized_test.to_csv('normalized_test.csv', index=False)

In [35]:
normalized_train.head()

,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,VAR13,VAR14,VAR15,VAR16,VAR18,VAR19,VAR20
0,-1.800864,-8.128404e-02,3.824356e-01,-0.183405,-0.488353,-0.110026,-0.169948,-1.340720e-13,3.343882e-01,-5.107948e-01,-1.715188e-01,-1.115071e+00,-4.732121e-01,-1.084274e+00,-0.069372,0.876061,-0.651620,-0.497041
1,-0.113657,-9.049328e-02,3.556359e-14,-0.647920,-0.257672,-0.080317,-0.126283,-5.158146e-01,2.804126e-13,3.611945e-14,-1.019835e+00,-2.097688e-13,-4.732121e-01,1.397466e-13,-0.060060,-0.584112,1.534592,-0.119303
2,0.908172,-2.372632e-02,-1.107187e+00,-0.510193,-0.257672,-0.150788,-0.245845,-1.340720e-13,3.343882e-01,-4.935422e-01,9.263017e-01,-1.753684e-01,-4.732121e-01,-2.322485e-01,-0.131773,-0.584112,-0.651620,-0.512098
3,-0.493873,2.981408e-15,3.556359e-14,0.210773,-0.224717,-0.139554,-0.237949,-8.023775e-01,3.343882e-01,3.611945e-14,-2.085953e-13,-2.097688e-13,-4.732121e-01,1.397466e-13,-0.119050,0.876061,-0.651620,-0.166302
4,-0.066130,-8.588866e-02,3.556359e-14,-0.163835,-0.366421,-0.077102,-0.109191,5.165867e-01,3.343882e-01,3.611945e-14,9.263017e-01,-2.097688e-13,-4.896968e-15,1.397466e-13,-0.067140,0.876061,-0.651620,-0.487600

In [36]:
X=normalized_train.values
X_test=normalized_test.values

y=train_dataset.iloc[:,20].values
print(X.shape)

(34000, 18)

In [37]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X,y)
y_pred_lr = clf.predict(X_test)
print(y_pred_lr)

/home/kaaira/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/kaaira/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

['Low' 'Medium' 'Medium' ... 'Medium' 'Medium' 'Medium']

In [51]:
type(y_pred_lr)

numpy.ndarray

In [59]:
pd.DataFrame(y_pred_lr).to_csv("Team-rocket_IITRoorkee_5.csv")

SyntaxError: invalid syntax (<ipython-input-57-d6ba7d931720>, line 7)